@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');


html{
    font-family: 'Montserrat', sans-serif;
}
.show{
    display:inline-flexbox;
}
.hidden{
    display:none;
}

.copyleft {
    display:inline-block;
    transform: rotate(180deg);
  }

.navbar{
    background-color:#17a2b8;
}

.navbar-brand{
    font-weight: 600;
}

.hidden{
    display:none;
}

.nav-item{
    font-weight: 400;
}
